{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questionhard</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ questionHard.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ questionHard.title }}</td>
            </tr>
            <tr>
                <th>Answer1</th>
                <td>{{ questionHard.answer1 }}</td>
            </tr>
            <tr>
                <th>Answer2</th>
                <td>{{ questionHard.answer2 }}</td>
            </tr>
            <tr>
                <th>Answer3</th>
                <td>{{ questionHard.answer3 }}</td>
            </tr>
            <tr>
                <th>Answer4</th>
                <td>{{ questionHard.answer4 }}</td>
            </tr>
            <tr>
                <th>Goodanswer</th>
                <td>{{ questionHard.goodanswer }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('questionhard_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('questionhard_edit', { 'id': questionHard.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
