{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center">Category creation</h1>

<div class="text-center">
    <a href="{{ path('category_index') }}">Retour à la liste</a>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-3">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
</div>
    <div class="col-md-3 col-md-offset-5">
        <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>


{% endblock %}
