{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des questions faciles</h1>

    <div class="text-center">
        <a href="{{ path('questioneasy_new') }}">Creer une nouvelle question</a>
    </div>

    <div class="row">
    <table class="col-md-10 col-md-offset-1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Answer1</th>
                <th>Answer2</th>
                <th>Answer3</th>
                <th>Answer4</th>
                <th>Good</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for questionEasy in questionEasies %}
            <tr>
                <td>{{ questionEasy.title }}</td>
                <td>{{ questionEasy.answer1 }}</td>
                <td>{{ questionEasy.answer2 }}</td>
                <td>{{ questionEasy.answer3 }}</td>
                <td>{{ questionEasy.answer4 }}</td>
                <td>{{ questionEasy.goodanswer }}</td>
                <td>{{ questionEasy.category.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('questioneasy_show', { 'id': questionEasy.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('questioneasy_edit', { 'id': questionEasy.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
