{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des questions Medium</h1>

    <div class="col-md-4 col-md-offset-5">
        <a href="{{ path('questionmedium_new') }}">Creer une nouvelle question</a>
    </div>

    <div class="row">
    <table class="col-md-10 col-md-offset-1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Answer1</th>
                <th>Answer2</th>
                <th>Answer3</th>
                <th>Answer4</th>
                <th>Good</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for questionMedium in questionMedia %}
            <tr>
                <td>{{ questionMedium.title }}</td>
                <td>{{ questionMedium.answer1 }}</td>
                <td>{{ questionMedium.answer2 }}</td>
                <td>{{ questionMedium.answer3 }}</td>
                <td>{{ questionMedium.answer4 }}</td>
                <td>{{ questionMedium.goodanswer }}</td>
                <td>{{ questionMedium.category.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('questionmedium_show', { 'id': questionMedium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('questionmedium_edit', { 'id': questionMedium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
