<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Questions pour un hackathon{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="back">

<div class="container-fluid banniere text-center">
    <div class="row tailleBouton">
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <h3 class="marginNom">  Bienvenue à toi padawan <b>{{ user.username|capitalize }} </b><a href="/app_dev.php/logout" class="btn btn-default"> Déconnection</a></h3>
        {% else %}
            <a href="/app_dev.php/login" class="btn btn-default">Connecte toi et deviens le maître !</a>
            <a href="/app_dev.php/register" class="btn btn-default">Envie de nous rejoindre ? Clique ici !</a>
        {%endif%}
    </div>
</div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="col-xs-offset-5 logobrand">
                    <img src="{{ asset('images/logoQH.png') }}" width="110px" alt="quizz hackathon">
                    <a class="navbar-brand" href="#">
                    </a>
                </div>
            </div>
            <div class="navbar-header">
            <p class="navbar-text titre">QUESTIONS POUR UN HACKATHON</p>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="quizz" href="/app_dev.php">Accueil</a></li>
                    <li><a href="/app_dev.php/select">Jouer</a></li>
                    <li><a href="/app_dev.php/player">Dashboard</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {% block body %}
        {% block connect %}{% endblock %}
    {% endblock %}

        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.2.1.min.js">
            </script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
        {% endblock %}
    </body>
</html>

