{% extends "base.html.twig" %}


{% block body %}

    <h1 class="text-center">Viens defier nos meilleurs joueurs</h1>
    <h3 class="text-center titreduel">Tente de faire mieux qu'eux sur le même questionnaire</h3>

<table class="table">
    <thead>
    <tr>
        <th colspan="5">TOP 20</th>
    </tr>
    <tr>
        <td class="tdRank col-lg-2"><strong>Rank</strong></td>
        <td class="tdNom col-lg-2"><strong>Nom</strong></td>
        <td class="tdScore col-lg-2"><strong>Score</strong></td>
        <td class="tdScore col-lg-2"><strong>Temps</strong></td>
        <td class="tdScore col-lg-2"><strong>Defie</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ game.player }}</td>
            <td>{{ game.finalscore }}</td>
            <td>{{ game.time }} s</td>
            <td> <a href="{{ path('duel', { 'id': game.id }) }}">Moi !</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}