{% extends "base.html.twig" %}

{% block body %}
    {#{{ dump() }}#}
    <div class="container-fluid">
        <div class="row">

            <!-- bloc HighScore -->
            <div class="highScore">
                <div class="col-lg-2 col-lg-offset-1">

                    <table class="table">
                        <div class="row">
                        <thead>
                        <tr>
                            <th colspan="4">HIGHSCORE</th>
                        </tr>
                        <tr>
                            <td class="tdRank col-lg-3"><strong>Rank</strong></td>
                            <td class="tdNom col-lg-3"><strong>Nom</strong></td>
                            <td class="tdScore col-lg-3"><strong>Score</strong></td>
                            <td class="tdScore col-lg-3"><strong>Temps</strong></td>
                        </tr>
                        </thead>
                            <tbody>
                            {% for game in games %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ game.player }}</td>
                                    <td>{{ game.finalscore }}</td>
                                    <td>{{ game.time }} s</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </div>
                    </table>

                </div>
            </div>
            <!-- Fin bloc HighScore -->

            <!-- bloc newGame -->
            <div class="newGame">
                <div class="col-lg-3 col-lg-offset-2">
                    <form action="{{ path('play') }}" method="post">

                        <h3>Niveau de difficulté</h3>

                        <select name="difficultee">
                            <option value="QuestionEasy">Facile</option>
                            <option value="QuestionMedium">Moyen</option>
                            <option value="QuestionHard">Difficle</option>
                        </select><br>

                        <h4>Catégorie</h4>

                        <select name="Cate">
                            {% for categorie in categories %}
                                {% if loop.index == 1 %}<option value="random">Aléatoire</option>{% endif %}
                                <option value="{{ categorie.name }}">{{ categorie.name }}</option>
                            {% endfor %}
                        </select><br><br>

                        <input class="btn btn-default bouton" name="play" value="Démarrer" type="submit">
                    </form>

                    <div class="personnagelist">
                        <img src="{{ asset('images/personnage.png') }}" alt="personne"/>
                    </div>

                </div>
            </div>
            <!-- Fin bloc newGame -->

            <!-- bloc PersonnalScore -->
            <div class="personnalScore">
                <div class="col-lg-2">

                    <table class="table">
                        <div class="row">
                            <thead>
                            <tr>
                                <th colspan="4">BEST OF {{ user.username|upper }}</th>
                            </tr>
                            <tr>
                                <td class="tdRank col-lg-3"><strong>Rank</strong></td>
                                <td class="tdScore col-lg-3"><strong>Score</strong></td>
                                <td class="tdScore col-lg-3"><strong>Temps</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for gameSolo in gamesSolo %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ gameSolo.finalscore }}</td>
                                    <td>{{ gameSolo.time }} s</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </div>
                    </table>


                </div>
            </div>
            <!-- Fin bloc PersonnalScore -->
        </div>
    </div>
{% endblock %}