{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container text-center formLogin">
    <h1 class="marginFormLogin">Allez viens on est bien !</h1>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="row form-group marginFormLogin">
            <label for="username">{{ 'Pseudo '|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"
                   required="required"/>
        </div>
        <div class="row form-group marginFormLogin">
            <label for="password">{{ 'Mot de passe '|trans }}</label>
            <input type="password" id="password" name="_password" class="form-control" required="required"/>
        </div>
        <div class="row checkbox marginFormLogin">
            <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me"
                                            value="on"/>{{ 'Se souvenir de moi '|trans }}</label>
        </div>
        <input type="submit" id="_submit" name="_submit" value="{{ 'Jouer ! '|trans }}" class="marginFormLogin btn btn-default bouton"/>
    </form>
    <img src="../../images/allez.gif" class="marginFormLogin">
</div>